@font-face {
  font-family: 'FallingSky';
  src: url('./assets/fonts/FallingSky.otf') format("opentype");
}

* {
  box-sizing: border-box;
}

body {
  background-color: #ecf5fd;
  font-family: 'FallingSky';
  display: flex;
  justify-content: center;
}

.fancyupload {
  margin-top: 10px;
  width: 680px;
  border: 1px solid hsl(0deg 0% 82.52%);
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: hsl(221.18deg 100% 90%) 1px 1px 4px 0px;
}

.fancyupload input.upload-input {
  display: none;
}

.fancyupload .dropzone {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='gray' stroke-width='2' stroke-dasharray='4%2c 7' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  background-color: #f7f7f7;
  padding: 40px;
}

.fancyupload .dropzone .upload-icon {
  width: 64px;
}

.fancyupload .dropzone label {
  text-decoration: underline;
  color: rgb(0, 26, 255);
  cursor: pointer;
}

.fancyupload .dropzone .upload-text {
  font-size: 1.2rem;
}

.fancyupload .controls {
  text-align: right;
  margin: 20px;
}

.fancyupload .controls button {
  cursor: pointer;
  border: 1px solid #bdbdbd;
  padding: 7px 14px;
  border-radius: 3px;
  transition: background-color ease-in 0.3s;
  font-family: 'FallingSky';
  font-size: 1em;
  letter-spacing: 0.5px;
}

.fancyupload .controls button:hover {
  background-color: #c6c6c6;

}

.fancyupload .controls .remove-files-btn:hover {
  background-color: #ff000029;
}

.fancyupload .uploaded-container {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.fancyupload .uploaded-container .uploaded-file-item {
  background-color: #fafcfd;
  display: flex;
  justify-content: space-between;
  border: 1px solid hsl(180deg 9.09% 89.22%);
  border-radius: 4px;
  margin-bottom: 10px;
  align-items: center;
  padding: 17px 25px;
  padding-top: 30px;
  box-shadow: hsl(180deg 4% 90.2%) 2px 2px 4px 0px;
}

.fancyupload .uploaded-container .uploaded-file-item .file {
  display: flex;
  align-items: center;
}

.file__type {
  position: relative;
  top: 2px;
}

.file__type img {
  width: 56px;
  height: 56px;
  object-fit: contain;
}

.file__info {
  font-family: 'FallingSky';
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.file__info__name {
  font-size: 1.1rem;
}

.file__info__size {
  font-size: 1rem;
  font-family: monospace;
}

.file__info__type {
  font-size: 0.9rem;
  color: rgb(38, 103, 255);
  font-family: monospace;
}

.trash-icon {
  width: 24px;
  height: 24px;
  background-image: url(./assets/icons/trash-bin.gif);
  cursor: pointer;
}

.trash-icon:hover {
  background: url(./assets/icons/trash-bin-animate.gif);
}